html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    display: flex;
    flex: 1;
    
}

header {
    background-color: #09395e;
    color: floralwhite;
    text-align: left;
    padding: 10px;
    /*border-radius: 2px;*/
}


footer {
    background-color: #09395e;
    color: floralwhite;
    text-align: center;
    padding: 0px; /*
    border-radius: 5px;*/
}

aside {
    background-color: #328bcf /*#ff6f03*/ /*#cacacab2*/;
    color: white;
    text-align: center;
    padding: 0px;
    width: 230px;
    border-block-color: black;
    border-right: 1px solid gray;
}
main {
    background-color: white;
    color: black;
    text-align: center;
    padding: 0px;
    flex: 1;
    /*border-radius: 2px;*/
}
.img-logo {
    width: 28px;
    height: 28px;
    margin-top: -2px;
    margin-bottom: -7px;
    margin-right: 7px;
}
